<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select Issue</title>
</head>
<body>
    <h2>Select an Issue to Report</h2>
    <ul>
        <li><a href="{{ url_for('water_issue') }}">Water Issue</a></li>
        <li><a href="{{ url_for('lock_issues') }}">Lock Issue</a></li>
        <li><a href="{{ url_for('light_issue') }}">Light Issue</a></li>
        <li><a href="{{ url_for('food_quality_issue') }}">Food Quality Issue</a></li>
        <li><a href="{{ url_for('study_room_issue') }}">Study Room Issue</a></li>
    </ul>
</body>
</html>
